/* normal*/
@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/Vollkornregular.woff2') format('woff2'),
    url('~assets/fonts/Vollkornregular.woff') format('woff');
}

/*Vollkorn Italic*/

@font-face {
  font-family: 'Vollkorn';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url('~assets/fonts/Vollkornitalic.woff2') format('woff2'),
    url('~assets/fonts/Vollkornitalic.woff') format('woff');
}

/* bold*/
@font-face {
  font-family: 'Vollkorn';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('~assets/fonts/Vollkornbold.woff2') format('woff2'),
    url('~assets/fonts/Vollkornbold.woff') format('woff');
}

/*Vollkorn BoldItalic*/
@font-face {
  font-family: 'Vollkorn';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('~assets/fonts/Vollkornbolditalic.woff2') format('woff2'),
    url('~assets/fonts/Vollkornbolditalic.woff') format('woff');
}

/*Vollkorn ExtraBoldItalic */
@font-face {
  font-family: 'Vollkorn';
  font-weight: 800;
  font-style: italic;
  font-display: swap;
  src: url('~assets/fonts/Vollkornextrabolditalic.woff2') format('woff2'),
    url('~assets/fonts/Vollkornextrabolditalic.woff') format('woff');
}

/*Tomorrow Wind*/
/*font-family: 'Tomorrow Wind', sans-serif;*/
@font-face {
  font-family: 'Tomorrow Wind';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/Tomorrowwind.woff2') format('woff2'),
    url('~assets/fonts/Tomorrowwind.woff') format('woff');
}
/*DrukCyr-Medium*/
@font-face {
  font-family: 'Druk Cyr';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('~assets/fonts/DrukCyr-Medium.woff2') format('woff2'),
    url('~assets/fonts/DrukCyr-Medium.woff') format('woff');
}

/* minion  для бургера заменила на PTSerif-Regular.woff*/
@font-face {
  font-family: 'PT';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('~assets/fonts/PTSerif-Regular.woff2') format('woff2'),
    url('~assets/fonts/PTSerif-Regular.woff') format('woff');
}

/* roboto */
@font-face {
  font-family: 'Roboto Slab';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('~assets/fonts/RobotoSlab-Regular.woff2') format('woff2'),
    url('~assets/fonts/RobotoSlab-Regular.woff') format('woff');
}
